
/* remove defalt margin padding*/

*{
    margin: 0;
    padding: 0;
}
/* Set goole font-family*/
body{
    font-family: 'Roboto', sans-serif;
}

/* first section start*/

.top_banner{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 850px;
    position: relative;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.container h1{
    font-size: 80px;
    line-height: 120px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    text-align: center;
    padding-top: 200px;
}

.container p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: white;
    text-align: center;
}
.banner_text{
    padding-left:20%;
    padding-right:20%;
    margin-top: 20px;
}
.donate_button{
    color: white;
    background-image: linear-gradient(45deg, tomato, orange);
    font-size: 25px;
    line-height: 45px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    text-align: center;
    display:inline-block;
    margin: 30px 40% 0 40%;   
}
.donate_button:hover{
    background-image: linear-gradient(60deg, orange,tomato, orange);
    border: .5px solid #fff;
}


/* first section end*/


/* second section start*/

.donate_section{
    padding-top: 30px;
    padding-bottom: 80px;
}
.donate_box{
    margin-left: 10%;
    margin-right: 10%;
}
#donate_h1{
    color:black;
    padding-top:25px;
}
#donate_text{
    color: black;
}
.donate_ammount{
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 20px;

}
.donate_box li{
    list-style-type: none;
    font-size: 50px;
    font-weight: 700;
    margin:30px;
    padding:50px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #FAFAFA;
}
.donate_box li:hover{
    background-color: #FFEEEE;
    color: red;
    border: 3px solid red;
}
.donate_form{
    width: 100%;
    margin:auto;
}
input[type=number]{
    color:gray;
    padding:20px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    display:inline-block;
    width:100%;
    border:0px;
    text-align: center;
    border: none;
    border-bottom:2px solid gray;



}












/* second section end*/